[submodule "wp_alerts"]
	path = wp_alerts
	url = https://github.com/TheTourist1502/wp-alerts.git
[submodule "wp_layout"]
	path = wp_layout
	url = https://github.com/TheTourist1502/wp-layout.git
[submodule "wp_shared"]
	path = wp_shared
	url = https://github.com/TheTourist1502/wp-shared.git
[submodule "wp_watchlist"]
	path = wp_watchlist
	url = https://github.com/TheTourist1502/wp-watchlist.git
[submodule "wp_portfolio"]
	path = wp_portfolio
	url = https://github.com/TheTourist1502/wp-portfolio.git
[submodule "wp_dashboard"]
	path = wp_dashboard
	url = https://github.com/TheTourist1502/wp-dashboard.git
